//
//  Variables
//
$unit: 1rem;

$body--background: #29142E;

$svg--background: darken($body--background, 5%);
$svg--line: #802852;

$button: #CF7557;
$button--hover: lighten($button, 15%);


//
//  Reset
//
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;

  background: $body--background;
}



//
//  Controls
//
.ui-controls {
  position: fixed;
  top: 2vw;
  right: 2vw;

  //display: flex;
  //flex-direction: column;

  .group {
    display: flex;
    margin-bottom: $unit * 2;

    &.up-down {
      flex-direction: column;
    }
    &.left-right {

    }
  }

  button {
    width: $unit * 3;
    height: $unit * 3;
    margin: $unit / 3;

    font-size: 3vw;
    line-height: 1.5;
    font-weight: bold;
    text-align: center;

    background: $button;
    border: 0;
    border-radius: 2rem;

    cursor: pointer;

    &:focus {
      outline: none;
    }
    &:hover {
      background: $button--hover;
    }
  }
}





//
//  SVG element
//
svg {
  width: 50vw;

  background: $svg--background;
  border-radius: $unit;
}

//
//  Line
//
line {
  stroke: $svg--line;
  stroke-width: $unit;
  stroke-linecap: round;
}



//
//  Controls
//
.ui-controls-grid {
  position: fixed;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: $unit * 2;


color: white;
font-size: $unit * 2;

  button {
    width: $unit * 3;
    height: $unit * 3;
    margin: $unit / 3;

    font-size: 3vw;
    line-height: 1.5;
    font-weight: bold;
    text-align: center;

    background: $button;
    border: 0;
    border-radius: 2rem;

    cursor: pointer;
    user-select: none;

    &:focus {
      outline: none;
    }
    &:hover {
      background: $button--hover;
    }
  }
}