//
//  Variables
//
$unit: 1rem;


$white: #fff;
$black: darken($white, 100%);

$body--background: #29142E;

$svg--background: darken($body--background, 5%);
$svg--line: #802852;

$button: #CF7557;
$button--hover: lighten($button, 15%);
$cta-button: purple;
$cta-button--hover: lighten($cta-button, 15%);



//
//  Reset
//
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;

  background: $body--background;
}



//
//  Controls
//
.ui-controls {
  position: fixed;
  bottom: $unit * 2;
  left: 50%;
  transform: translateX(-50%);

  display: grid;
  padding: $unit;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: $unit / 2;
  justify-items: center;
  align-items: center;

  background: rgba($white, .125);
  @supports (backdrop-filter: none) {
    backdrop-filter: blur( $unit / 4 );
  }
  border: $unit/16 solid rgba($white, .0625);
  border-radius: $unit;
  box-shadow: 0 0 $unit*2 $black;
}




//
//  Button
//
button {
  width: $unit * 3;
  height: $unit * 3;

  font-size: $unit * 1.5;
  line-height: 1.5;
  font-weight: bold;
  text-align: center;
  color: rgba($black, .75);

  background: $button;
  border: 0;
  border-bottom: $unit/2 solid darken($button, 25%);
  border-radius: $unit;

  cursor: pointer;
  user-select: none;


  transition:
    background 50ms ease,
    color 50ms ease;

  &:focus {
    outline: none;
  }
  &:hover {
    background: $button--hover;
  }
  &:active {
    border-bottom-width: $unit / 4;
  }

  //  variants
  //
  //&.up {___}
  //&.right {___}
  //&.down {___}
  //&.left {___}
  
  &.cta {
    position: fixed;
    bottom: $unit;
    right: $unit;

line-height: 50px;  // FIXME

    background: $cta-button;
    border-bottom: none;
    box-shadow: inset 0 $unit/4 $unit/2 darken($cta-button, 25%);

    &:hover {
      background: $cta-button--hover;
    }
    &:active {
      box-shadow: none;
    } 
  }
}





//
//  SVG element
//
svg {
  width: 50vw;

  background: $svg--background;
  border-radius: $unit;
}

//
//  Line
//
line {
  stroke: $svg--line;
  stroke-width: $unit;
  stroke-linecap: round;
}
